<!DOCTYPE html>
<html>

<head>

    <title>Sorry :(</title>
    <link rel="stylesheet" type="text/css" href="../public//css/main.css">

</head>

<body >
    <% include ./partials/nav.ejs %>
    <html>

    <h1 title='Sure this name is trademarked!' style="margin-top:6%">404 Error</h1>
    <pre id="output"></pre>
    <p>
        <button>Restart</button>
    </p>
    <script src="../public/js/main.js"></script>
</body>

</html>