body {
  font-family: 'Montserrat', sans-serif;
  background: #2980b9;
}

h1 {
  color: #fff;
  text-align: center;
}

pre {
  font-family: 'Source Code Pro', monospace;
  margin: 2em;
  background: #222;
  color: #aaa;
  border: 5px solid #666;
  padding: 1em;
  height: 300px;
  width: 80%;
  max-width: 800px;
  margin: 2em auto;
}

p {
  text-align: center;
}

button {
  display: inline-block;
  display: none;
  background: #fff;
  border: none;
  border-radius: 4px;
  padding: 1em;
}
